<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trees">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RootLeaf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trees">
        <activity android:name=".verify_bst"></activity>
        <activity android:name=".at" />
        <activity android:name=".st" />
        <activity android:name=".bt_reqt" />
        <activity android:name=".bt" />
        <activity android:name=".rbt" />
        <activity android:name=".bst" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>